<div class="container">
  <div class="row" style="margin-top: 16px">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h3>Cloud Computing</h3>
        <fa-icon [icon]="faCloud" style="font-size: 21px"> </fa-icon>
      </div>

      <div style="text-align: justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias iure
        fuga, perferendis commodi quas ut ab totam cumque rerum, veniam
        voluptatem quasi excepturi eum ad unde esse deserunt exercitationem
        possimus, id vel reiciendis quo eos! Eaque saepe itaque ad reprehenderit
        qui magni possimus laudantium debitis modi laboriosam. Debitis corrupti
        rem omnis officiis, labore voluptate, reiciendis saepe quibusdam
        voluptatibus ab ea, hic vero! Quidem fugit labore beatae nam, cumque
        exercitationem assumenda nesciunt! Amet harum possimus iusto veritatis
        aut recusandae voluptatibus, animi nihil fugiat quaerat corporis
        voluptatem vel minima saepe nulla quibusdam praesentium iste aperiam,
        laboriosam optio error fugit et tenetur! Labore!
      </div>
    </div>

    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h3>Moto Mech Champ</h3>
        <fa-icon [icon]="faGoogle" style="font-size: 21px; color: gold">
        </fa-icon>
      </div>

      <div style="text-align: justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias iure
        fuga, perferendis commodi quas ut ab totam cumque rerum, veniam
        voluptatem quasi excepturi eum ad unde esse deserunt exercitationem
        possimus, id vel reiciendis quo eos! Eaque saepe itaque ad reprehenderit
        qui magni possimus laudantium debitis modi laboriosam. Debitis corrupti
        rem omnis officiis, labore voluptate, reiciendis saepe quibusdam
        voluptatibus ab ea, hic vero! Quidem fugit labore beatae nam, cumque
        exercitationem assumenda nesciunt! Amet harum possimus iusto veritatis
        aut recusandae voluptatibus, animi nihil fugiat quaerat corporis
        voluptatem vel minima saepe nulla quibusdam praesentium iste aperiam,
        laboriosam optio error fugit et tenetur! Labore!
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 16px">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h3>Web Developer</h3>
        <fa-icon [icon]="faCloud" style="font-size: 21px"> </fa-icon>
      </div>

      <div style="text-align: justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias iure
        fuga, perferendis commodi quas ut ab totam cumque rerum, veniam
        voluptatem quasi excepturi eum ad unde esse deserunt exercitationem
        possimus, id vel reiciendis quo eos! Eaque saepe itaque ad reprehenderit
        qui magni possimus laudantium debitis modi laboriosam. Debitis corrupti
        rem omnis officiis, labore voluptate, reiciendis saepe quibusdam
        voluptatibus ab ea, hic vero! Quidem fugit labore beatae nam, cumque
        exercitationem assumenda nesciunt! Amet harum possimus iusto veritatis
        aut recusandae voluptatibus, animi nihil fugiat quaerat corporis
        voluptatem vel minima saepe nulla quibusdam praesentium iste aperiam,
        laboriosam optio error fugit et tenetur! Labore!
      </div>
    </div>

    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h3>NodeJS Developer</h3>
        <fa-icon [icon]="faGoogle" style="font-size: 21px; color: gold">
        </fa-icon>
      </div>

      <div style="text-align: justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias iure
        fuga, perferendis commodi quas ut ab totam cumque rerum, veniam
        voluptatem quasi excepturi eum ad unde esse deserunt exercitationem
        possimus, id vel reiciendis quo eos! Eaque saepe itaque ad reprehenderit
        qui magni possimus laudantium debitis modi laboriosam. Debitis corrupti
        rem omnis officiis, labore voluptate, reiciendis saepe quibusdam
        voluptatibus ab ea, hic vero! Quidem fugit labore beatae nam, cumque
        exercitationem assumenda nesciunt! Amet harum possimus iusto veritatis
        aut recusandae voluptatibus, animi nihil fugiat quaerat corporis
        voluptatem vel minima saepe nulla quibusdam praesentium iste aperiam,
        laboriosam optio error fugit et tenetur! Labore!
      </div>
    </div>
  </div>
</div>
