<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
  <div style="background: #f44336">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <mdb-icon
              fab
              fab
              icon="google-plus"
              class="white-text mr-4"
            ></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="font-weight-bold">RabneBanadiJodi</h6>
        <hr
          class="accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background: #f44336"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. pirpewjupfo
          ewpojfpo ewfpew ewop gggujg hdj
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr
          class="accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background: #f44336"
        />
        <p>
          <a routerLink="/home">home</a>
        </p>
        <p>
          <a routerLink="contact-us">contact-us</a>
        </p>
        <p>
          <a routerLink="profile">profile</a>
        </p>
        <p>
          <a routerLink="#!">aboutus</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">More links</h6>
        <hr
          class="accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background: #f44336"
        />
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">wedding Planer</a>
        </p>
        <p>
          <a href="#!">wedding Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr
          class="accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background: #f44336"
        />
        <p>
          <mdb-icon fas icon="home" class="mr-3"></mdb-icon> CDAC JUHU, MUMBAI
        </p>
        <p>
          <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon>
          info@RabneBanadiJodi.com
        </p>
        <p><mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 9834658952</p>
        <p><mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 022 897564</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a routerlink="/home"> rabnebanadijodi.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
