<div class="container">
  <div class="row my-3">
    <div class="col">
      <!-- Card -->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img
            src="../../assets/img/36.png"
            alt="Card image cap"
          ></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Rasmika Mandanna's</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
            libero.
          </mdb-card-text>

          <a
            href="#"
            mdbBtn
            style="background: #f44336; color: white"
            mdbWavesEffect
            >view</a
          >
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->
    </div>
    <div class="col">
      <!-- Card -->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img
            src="../../assets/img/35.png"
            alt="Card image cap"
          ></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>kangana ranaut</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta,
            nisi.
          </mdb-card-text>

          <a
            href="#"
            mdbBtn
            style="background: #f44336; color: white"
            mdbWavesEffect
            >view</a
          >
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->
    </div>
    <div class="col">
      <!-- Card -->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img
            src="../../assets/img/32.png"
            alt="Card image cap"
          ></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>tapsi pannu</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam,
            commodi?
          </mdb-card-text>

          <a
            href="#"
            mdbBtn
            style="background: #f44336; color: white"
            mdbWavesEffect
            >view</a
          >
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->
    </div>
  </div>

  <!--2nd-->
  <div class="row my-5 mt-5">
    <div class="col">
      <!-- Card -->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img
            src="../../assets/img/31.png"
            alt="Card image cap"
          ></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Amushka Sharma</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum,
            beatae!
          </mdb-card-text>

          <a
            href="#"
            mdbBtn
            style="background: #f44336; color: white"
            mdbWavesEffect
            >view</a
          >
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->
    </div>
    <div class="col">
      <!-- Card -->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img
            src="../../assets/img/33.png"
            alt="Card image cap"
          ></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Dipika patil</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </mdb-card-text>

          <a
            href="#"
            mdbBtn
            style="background: #f44336; color: white"
            mdbWavesEffect
            >view</a
          >
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->
    </div>
    <div class="col">
      <!-- Card -->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img
            src="../../assets/img/34.png"
            alt="Card image cap"
          ></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Dont Know</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text>
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </mdb-card-text>

          <a
            href="#"
            mdbBtn
            style="background: #f44336; color: white"
            mdbWavesEffect
            >view</a
          >
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->
    </div>
  </div>
</div>
