<div class="container">
  <div class="row">
    <div class="col-4 my-2" *ngFor="let item of list">
      <h5>About</h5>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum tempore
        neque dolore excepturi. Illo quisquam itaque possimus, veniam sunt,
        perferendis necessitatibus ut, in temporibus veritatis dolorum quidem
        nesciunt eos corporis amet dignissimos maxime accusamus assumenda?
        Architecto harum voluptates, asperiores dolorem vel consequatur ipsum?
        Quas inventore architecto vitae laudantium maiores officiis doloribus
        esse harum, repellendus dolor vero. Ab quaerat, sunt error consectetur
        optio soluta aspernatur? Ducimus inventore est quod sequi molestiae.
        Amet temporibus omnis
      </div>
    </div>
  </div>
</div>
