<h1>{{ title }}</h1>
<div style="display: flex; justify-content: center">
  <fa-icon [icon]="faGoogle" style="font-size: 64px; color: tomato"></fa-icon>
</div>

<div>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi officiis animi
  magnam asperiores ratione ducimus aliquid, veniam cupiditate ea totam optio
  veritatis nesciunt repudiandae modi id. Sint iusto mollitia ullam non
  accusamus vero voluptatibus error quaerat cumque provident quia, in sit sed
  consequatur veritatis fugit perferendis alias. Dignissimos fuga consectetur
  ducimus incidunt amet porro, nesciunt numquam harum, velit iste quisquam
  perspiciatis vel aliquam corporis dolor nemo nihil! Culpa tempore repellendus
  velit non sapiente facere. Dolore sit aut ipsa, magni iusto consectetur
  corrupti dicta deserunt temporibus ipsum, at fuga dolor mollitia, delectus
  itaque alias.
</div>

<div style="display: flex; justify-content: center">
  <fa-icon [icon]="faApple" style="font-size: 64px; color: royalblue"></fa-icon>
</div>
<div>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, quasi quas
  ipsam laborum aut doloribus perferendis nemo quod ad reiciendis sed recusandae
  quidem sit esse nulla hic facere eligendi dolorum magnam! Unde hic beatae
  culpa? Amet modi aut, consequuntur aperiam tempora nulla repellat vero vitae
  ipsa iure totam. Quibusdam aliquam cupiditate, molestiae officiis dicta
  consequuntur architecto facere porro eaque? Voluptatem, consequuntur beatae
  dolore quidem illum fugit necessitatibus. Deleniti hic quisquam quos dolor
  voluptate rem earum eligendi nam quisquam nostrum ducimus doloremque
  perferendis voluptates quos assumenda ratione, tenetur, laboriosam numquam?
  Quidem.
</div>
