<div class="container-fluid p-0">
  <div class="row">
    <div class="col">
      <!--Navbar-->
      <mdb-navbar
        SideClass="navbar navbar-expand-lg navbar-dark cyan"
        [containerInside]="false"
      >
        <!-- Navbar brand -->
        <mdb-navbar-brand style="position: sticky; top: 0px"
          ><img
            src="https://mdbootstrap.com/img/logo/mdb-transparent.png"
            height="30"
            class="d-inline-block align-top"
            alt=""
          />
          <a class="navbar-brand" href="#">
            RabNeBanayiJodi
          </a></mdb-navbar-brand
        >

        <!-- Collapsible content -->
        <links>
          <!-- Links -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect
                ><mdb-icon fas icon="envelope"></mdb-icon> Contact<span
                  class="sr-only"
                  >(current)</span
                ></a
              >
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
              <a
                dropdownToggle
                mdbWavesEffect
                type="button"
                class="nav-link dropdown-toggle waves-light"
                mdbWavesEffect
              >
                Basic dropdown<span class="caret"></span
              ></a>
              <div
                *dropdownMenu
                class="dropdown-menu dropdown dropdown-primary"
                role="menu"
              >
                <a class="dropdown-item waves-light" mdbWavesEffect href="#"
                  >Action</a
                >
                <a class="dropdown-item waves-light" mdbWavesEffect href="#"
                  >Another action</a
                >
                <a class="dropdown-item waves-light" mdbWavesEffect href="#"
                  >Something else here</a
                >
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#"
                  >Separated link</a
                >
              </div>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
              <a
                dropdownToggle
                mdbWavesEffect
                type="button"
                class="nav-link dropdown-toggle waves-light"
                mdbWavesEffect
              >
                <mdb-icon fas icon="user"></mdb-icon> Profile<span
                  class="caret"
                ></span
              ></a>
              <div
                *dropdownMenu
                class="dropdown-menu dropdown-menu-right dropdown dropdown-primary"
                role="menu"
              >
                <a class="dropdown-item waves-light" mdbWavesEffect href="#"
                  >My account</a
                >
                <a class="dropdown-item waves-light" mdbWavesEffect href="#"
                  >Log out</a
                >
              </div>
            </li>
          </ul>
          <!-- Links -->
        </links>
        <!-- Collapsible content -->
      </mdb-navbar>
      <!--/.Navbar-->
      <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <img
            class="d-block w-100"
            src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
            alt="First slide"
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            class="d-block w-100"
            src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
            alt="Second slide"
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            class="d-block w-100"
            src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
            alt="Third slide"
          />
        </mdb-carousel-item>
      </mdb-carousel>
      <!--oiehgfpiewg-->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-10 col-md-4 mt-3">
            <mdb-card>
              <!--Card image-->
              <mdb-card-img
                src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
                alt="Card image cap"
              ></mdb-card-img>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Card Title</h4>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text>
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </mdb-card-text>

                <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="col-10 col-md-4 mt-3">
            <mdb-card>
              <!--Card image-->
              <mdb-card-img
                src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
                alt="Card image cap"
              ></mdb-card-img>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Card Title</h4>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text>
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </mdb-card-text>

                <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="col-10 col-md-4 mt-3">
            <mdb-card>
              <!--Card image-->
              <mdb-card-img
                src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
                alt="Card image cap"
              ></mdb-card-img>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Card Title</h4>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text>
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </mdb-card-text>

                <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>
      </div>

      <div class="row mt-5 justify-content-center">
        <div class="col col-md-6">
          <!-- Default form login -->
          <form class="text-center border border-light p-5">
            <p class="h4 mb-4">Sign in</p>

            <!-- Email -->
            <input
              type="email"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="E-mail"
            />

            <!-- Password -->
            <input
              type="password"
              id="defaultLoginFormPassword"
              class="form-control mb-4"
              placeholder="Password"
            />

            <div class="d-flex justify-content-around">
              <div>
                <!-- Remember me -->
                <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
              </div>
              <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
              </div>
            </div>

            <!-- Sign in button -->
            <button mdbBtn color="info" block="true" class="my-4" type="submit">
              Sign in
            </button>

            <!-- Register -->
            <p>
              Not a member?
              <a href="">Register</a>
            </p>

            <!-- Social login -->
            <p>or sign in with:</p>

            <a type="button" class="light-blue-text mx-2">
              <mdb-icon fab icon="facebook"></mdb-icon>
            </a>
            <a type="button" class="light-blue-text mx-2">
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
            <a type="button" class="light-blue-text mx-2">
              <mdb-icon fab icon="linkedin"></mdb-icon>
            </a>
            <a type="button" class="light-blue-text mx-2">
              <mdb-icon fab icon="github"></mdb-icon>
            </a>
          </form>
          <!-- Default form login -->
        </div>
      </div>

      <!-- Footer -->
      <footer class="page-footer font-small unique-color-dark">
        <div style="background-color: #6351ce">
          <div class="container">
            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">
              <!-- Grid column -->
              <div
                class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0"
              >
                <h6 class="mb-0">Get connected with us on social networks!</h6>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-6 col-lg-7 text-center text-md-right">
                <!-- Facebook -->
                <a class="fb-ic">
                  <mdb-icon
                    fab
                    icon="facebook"
                    class="white-text mr-4"
                  ></mdb-icon>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                  <mdb-icon
                    fab
                    icon="twitter"
                    class="white-text mr-4"
                  ></mdb-icon>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                  <mdb-icon
                    fab
                    fab
                    icon="google-plus"
                    class="white-text mr-4"
                  ></mdb-icon>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                  <mdb-icon
                    fab
                    icon="linkedin"
                    class="white-text mr-4"
                  ></mdb-icon>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                  <mdb-icon
                    fab
                    icon="instagram"
                    class="white-text mr-4"
                  ></mdb-icon>
                </a>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row-->
          </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase font-weight-bold">Company name</h6>
              <hr
                class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px"
              />
              <p>
                Here you can use rows and columns here to organize your footer
                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Products</h6>
              <hr
                class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px"
              />
              <p>
                <a href="#!">MDBootstrap</a>
              </p>
              <p>
                <a href="#!">MDWordPress</a>
              </p>
              <p>
                <a href="#!">BrandFlow</a>
              </p>
              <p>
                <a href="#!">Bootstrap Angular</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Useful links</h6>
              <hr
                class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px"
              />
              <p>
                <a href="#!">Your Account</a>
              </p>
              <p>
                <a href="#!">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!">Shipping Rates</a>
              </p>
              <p>
                <a href="#!">Help</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Contact</h6>
              <hr
                class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px"
              />
              <p>
                <mdb-icon fas icon="home" class="mr-3"></mdb-icon> New York, NY
                10012, US
              </p>
              <p>
                <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon>
                info@example.com
              </p>
              <p>
                <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 01 234 567
                88
              </p>
              <p>
                <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 01 234 567
                88
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
          © 2020 Copyright:
          <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>
  </div>
</div>
