<div class="container-fluid" style="background: #f44336">
  <img class="wave" src="../../assets/1.svg" />
  <div class="row" style="height: 100vh; background: #f44336; width: 95%">
    <div class="col-12 col-md-6 col-lg-6 col-xl-6" style="background: #f44336">
      <img
        src="../../assets/login/5.png"
        alt=""
        style="height: 90%; width: 100%"
      />
    </div>
    <div
      class="col-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-right align-items-center"
      [formGroup]="fbFormGroup"
    >
      <div class="alert alert-danger" role="alert" *ngIf="uiInvalidCredential">
        A simple danger alert—check it out!
      </div>
      <div class="row box rounded p-4 justify-content-center box">
        <!-- Default form login -->

        <p class="h4 mb-4">Sign in</p>

        <!-- Email -->
        <input
          type="text"
          id="username"
          class="form-control mb-4"
          placeholder="Username"
          formControlName="username"
        />

        <!-- Password -->
        <input
          type="password"
          id="defaultLoginFormPassword"
          class="form-control mb-2"
          placeholder="Password"
          formControlName="password"
        />

        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
          </div>
          <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
          </div>
        </div>

        <!-- Sign in button -->
        <button
          mdbBtn
          color="info"
          block="true"
          class="my-2"
          type="submit"
          style="height: 30px"
          [disabled]="!fbFormGroup.valid"
          (click)="loginProcessHere()"
        >
          Sign in
        </button>

        <!-- Register -->
        <div>
          <p>
            Not a member?
            <a routerLink="../register">Register</a>
          </p>
        </div>

        <!-- Default form login -->
      </div>
    </div>
  </div>
</div>
