.wave {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 2;
}

.box {
  background: white;
  //color: white;
  z-index: 1;
  box-shadow: 2px 2px 5px 2px rgb(80, 79, 79);
  width: 60%;
}
