<div class="container-fluid" style="background: #f44336">
  <img class="wave" src="../../assets/1.svg" />
  <div class="row" style="height: 100vh; background: #f44336; width: 95%">
    <div
      class="col-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-center"
      style="background: #f44336"
    >
      <img
        src="../../assets/login/5.png"
        alt=""
        style="height: 90%; width: 100%; object-fit: cover"
      />
    </div>
    <div
      class="col-12 col-md-6 col-lg-6 col-xl-6 d-flex justify-content-right align-items-center"
    >
      <div
        class="row box rounded p-2 justify-content-center box"
        [formGroup]="fbFormGroup"
      >
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="uiInvalidCredential"
        >
          A simple danger alert—check it out!
        </div>
        <!-- Default form register -->

        <p class="h4 mb-2">Sign up</p>

        <div class="form-row mb-2 justify-content-center">
          <div class="col">
            <!-- First name -->
            <input
              type="text"
              id="firstName"
              class="form-control"
              placeholder="First name"
              formControlName="firstName"
            />
          </div>
          <div class="col">
            <!-- Last name -->
            <input
              type="text"
              id="lastName"
              class="form-control"
              placeholder="Last name"
              formControlName="lastName"
            />
          </div>
        </div>
        <!-- UserName -->
        <input
          type="text"
          id="userName"
          class="form-control mb-2"
          placeholder="userName"
          formControlName="userName"
          (blur)="checkUsername()"
        />

        <div
          class=""
          role="alert"
          *ngIf="isValidUsername"
          style="color: red; font-size: 15px"
        >
          username Already Exist
        </div>

        <!-- E-mail -->
        <input
          type="email"
          id="email"
          class="form-control mb-2"
          placeholder="E-mail"
          formControlName="email"
          (blur)="checkEmail()"
        />
        <div
          class=""
          role="alert"
          *ngIf="isValidEmail"
          style="color: red; font-size: 15px"
        >
          Email Already Exist
        </div>

        <!-- Password -->
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="Password"
          aria-describedby="passwordHelp"
          formControlName="password"
        />
        <small id="passwordHelp" class="form-text text-muted mb-1">
          At least 8 characters and 1 digit
        </small>

        <!-- Phone number -->
        <input
          type="number"
          id="phoneNumber"
          class="form-control"
          placeholder="Phone number"
          aria-describedby="phoneHelp"
          formControlName="phoneNumber"
        />
        <small id="phoneHelp" class="form-text text-muted mb-2">
          Optional - for two-step authentication
        </small>

        <!-- Sign up button -->
        <button
          mdbBtn
          color="info"
          block="true"
          class="my-2"
          type="submit"
          [disabled]="fbFormGroup.valid"
          (click)="registerHere()"
        >
          Sign Up
        </button>
        <!-- Login -->
        <p>
          Already Register?
          <a routerLink="../login">login</a>
        </p>

        <!-- Default form register -->
      </div>
    </div>
  </div>
</div>
