<div class="container-fluid" style="background: #e92415">
  <div class="container p-0" style="background: #f44336">
    <div class="row justify-content-center" style="height: 100vh">
      <div
        class="col-10 view"
        style="
          background-image: url('../../assets/login/24.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          height: 100%;
        "
      >
        <div class="row" style="height: 195px">
          {{ userData | json }}
        </div>
        <div class="row justify-content-center">
          <div
            class="col d-flex justify-content-center"
            [formGroup]="fbFormGroup"
          >
            <!-- Default form register -->
            <div class="text-center p-2 box">
              <p class="h4" style="color: black">User Details</p>

              <div class="form-row mb-4">
                <div class="col">
                  <!-- First name -->
                  <input
                    type="text"
                    id="defaultRegisterFormFirstName"
                    class="form-control"
                    placeholder="religion"
                    formControlName="religion"
                  />
                </div>
                <div class="col">
                  <!-- Last name -->
                  <input
                    type="text"
                    id="defaultRegisterFormLastName"
                    class="form-control"
                    placeholder="mothertoung"
                    formControlName="mothertoung"
                  />
                </div>
              </div>
              <div class="form-row mb-4">
                <div class="col">
                  <!-- First name -->
                  <input
                    type="text"
                    id="defaultRegisterFormFirstName"
                    class="form-control"
                    placeholder="Birth Date"
                    formControlName="dob"
                  />
                </div>
                <div class="col">
                  <!-- Last name -->
                  <input
                    type="text"
                    id="defaultRegisterFormLastName"
                    class="form-control"
                    placeholder="cast"
                    formControlName="cast"
                  />
                </div>
              </div>
              <div class="form-row mb-4">
                <div class="col">
                  <!-- First name -->
                  <input
                    type="text"
                    id="defaultRegisterFormFirstName"
                    class="form-control"
                    placeholder="sub cast"
                    formControlName="subcast"
                  />
                </div>
                <div class="col">
                  <!-- Last name -->
                  <input
                    type="text"
                    id="defaultRegisterFormLastName"
                    class="form-control"
                    placeholder="Marital Sattus"
                    formControlName="maritalstatus"
                  />
                </div>
              </div>
              <div class="form-row mb-4">
                <div class="col">
                  <!-- First name -->
                  <input
                    type="text"
                    id="defaultRegisterFormFirstName"
                    class="form-control"
                    placeholder="height"
                    formControlName="hight"
                  />
                </div>
                <div class="col">
                  <!-- Last name -->
                  <input
                    type="text"
                    id="defaultRegisterFormLastName"
                    class="form-control"
                    placeholder="Numbet Of family members"
                    formControlName="familymembers"
                  />
                </div>
              </div>

              <!-- Sign up button -->
              <button
                mdbBtn
                color="info"
                block="true"
                class="btn btn-dark"
                type="submit"
                (click)="adduserdetails()"
              >
                Continue
              </button>
            </div>
            <!-- Default form register -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
