<div class="container">
  <div class="row mt-4">
    <div class="col-4 mb-5" *ngFor="let item of educationList">
      <h3>Education Title</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nobis
      ipsam delectus similique libero blanditiis possimus a natus impedit,
      voluptatum recusandae qui facere, sed voluptas numquam corrupti
      reprehenderit neque. Sit impedit nihil, corrupti quaerat architecto quasi
      sed recusandae neque vitae molestiae officiis dolore expedita illum eaque
      omnis, amet, exercitationem fuga!
    </div>
  </div>
</div>
